In [4]:
import pandas as pd
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep = '\t')

In [7]:
chipo.head(5)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [10]:
print chipo.info()
print chipo.shape

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
order_id              4622 non-null int64
quantity              4622 non-null int64
item_name             4622 non-null object
choice_description    3376 non-null object
item_price            4622 non-null object
dtypes: int64(2), object(3)
memory usage: 180.6+ KB
None
(4622, 5)

In [12]:
chipo.columns

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')

In [13]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

In [22]:
chipo.item_name.value_counts().head(5)

Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: item_name, dtype: int64

In [23]:
chipo.item_name.head(5)

0             Chips and Fresh Tomato Salsa
1                                     Izze
2                         Nantucket Nectar
3    Chips and Tomatillo-Green Chili Salsa
4                             Chicken Bowl
Name: item_name, dtype: object

In [32]:
type(chipo.choice_description.value_counts().head(5))

pandas.core.series.Series

In [37]:
print chipo.quantity.sum()
type(chipo.quantity.sum())

4972

long

In [43]:
print chipo.item_name.value_counts().sum()
print chipo.item_name.value_counts().head(5)
print chipo.shape

4622
Chicken Bowl           726
Chicken Burrito        553
Chips and Guacamole    479
Steak Burrito          368
Canned Soft Drink      301
Name: item_name, dtype: int64
(4622, 5)

In [49]:
dollarizer = lambda x:float(x[1:-1])
print chipo.columns
print chipo.item_price.head(5)
#chipo.item_price = chipo.item_price.apply(dollarizer)
print chipo.item_price.head(5)

Index([u'order_id', u'quantity', u'item_name', u'choice_description',
       u'item_price'],
      dtype='object')
0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64
0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [53]:
print chipo.item_price.sum()
print chipo.shape[1]

34500.16
5

In [65]:
g = chipo.groupby(by=['order_id'])
s = g.sum()
print s.head(1) 
print s.mean()['item_price']
print chipo.item_price.mean()

          quantity  item_price
order_id
1                4       11.56
18.8114285714
7.46433578537

In [68]:
print chipo.item_name.value_counts().count()
print chipo.item_name.value_counts().sum()

50
4622