In [1]:
# 导入pandas包
import pandas as pd
# 自定义数据源
raw_data = {'regiment': ['Nighthawks', 'Nighthawks', 'Nighthawks', 'Nighthawks', 'Dragoons', 'Dragoons', 'Dragoons', 'Dragoons', 'Scouts', 'Scouts', 'Scouts', 'Scouts'], 
        'company': ['1st', '1st', '2nd', '2nd', '1st', '1st', '2nd', '2nd','1st', '1st', '2nd', '2nd'], 
        'name': ['Miller', 'Jacobson', 'Ali', 'Milner', 'Cooze', 'Jacon', 'Ryaner', 'Sone', 'Sloan', 'Piger', 'Riani', 'Ali'], 
        'preTestScore': [4, 24, 31, 2, 3, 4, 24, 31, 2, 3, 2, 3],
        'postTestScore': [25, 94, 57, 62, 70, 25, 94, 57, 62, 70, 62, 70]}
# 将dict数据源转换成pandas对象，列名为key值
regiment = pd.DataFrame(raw_data,columns=raw_data.keys())

In [2]:
regiment.head(5)

  company    regiment      name  postTestScore  preTestScore
0     1st  Nighthawks    Miller             25             4
1     1st  Nighthawks  Jacobson             94            24
2     2nd  Nighthawks       Ali             57            31
3     2nd  Nighthawks    Milner             62             2
4     1st    Dragoons     Cooze             70             3

In [5]:
# 查看索引
regiment.index

RangeIndex(start=0, stop=12, step=1)

In [6]:
# 查看列信息
regiment.columns

Index([u'company', u'regiment', u'name', u'postTestScore', u'preTestScore'], dtype='object')

In [9]:
# 筛选出regiment为Nighthawks的行，按照regiment分组，查均值
# 其实就是查询regiment为Nighthawks的均值
regiment[regiment["regiment"]=="Nighthawks"].groupby("regiment").mean()

            postTestScore  preTestScore
regiment
Nighthawks           59.5         15.25